.container{ 
  display: flex; 
  background-color: rgb(234, 247, 252);
  width: 100vw; 
  height: 100vh; 
  overflow-y: scroll; 
  justify-content: center;
}

.header-right{   
  margin-bottom: 20px; 
  margin-left: 35px;
}

.search-bar{ 
  height: 30px; 
  width: 250px; 
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.search-bar:focus + .dropdown-content {
  display: block;
}

.main-content{ 
  width: 80%;   
  height: 80%; 
  margin-right: 20%; 
  margin-top: 10%;
}

.guest-list{ 
  margin-left: 30px;
  margin-bottom: 15px;  
  width: 100%;
}

.menu-item i {
  margin-right: 10px;
}
