<div class="container"> 
    <div class="main-content"> 
      <div class="drop-div"> 
        <div class="header-right">
          <input type="text" placeholder="Search Events" #filter class="search-bar" (click)="toggleDropdown()">
          <div class="dropdown-content" *ngIf="dropdownOpen">
            <a href="#" (click)="selectOption('option1')">Option 1</a>
            <a href="#" (click)="selectOption('option2')">Option 2</a>
            <a href="#" (click)="selectOption('option3')">Option 3</a>
          </div>
        </div>
      </div>  
  
      <div class="guest-list-container"> 
        <div class="guest-list">
          <app-guest-list></app-guest-list>
        </div>
      </div>        
    </div>
  </div>
  