<div class="container"> 
    <div class="main-content"> 
        <div class="drop-div"> 
            <div class="header-right">
                <input type="text" placeholder="Search Events" #filter class="search-bar">
                <button class="search-btn" type="button" (click)="onClickSearch()">Search</button>
            </div>
        </div>  

        <div class="guest-list-container"> 
            <div class="guest-list">
                <app-guest-list></app-guest-list>
            </div>
        </div>

        
    </div>
    

    </div>