<div class="container">
    <button class="add-task-button" (click)="openForm()">+ Add New Guest</button>
    <div class="main-content">
      <div class="dropdown">
        <button (click)="toggleDropdown()" class="dropdown-button">
          Select an Event
          <i [class]="dropdownOpen ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
        </button>
  
        <div class="dropdown-content" *ngIf="dropdownOpen">
          <a href="#" (click)="selectOption('Option 1')">Option 1</a>
          <a href="#" (click)="selectOption('Option 2')">Option 2</a>
          <a href="#" (click)="selectOption('Option 3')">Option 3</a>
        </div>
      </div>
  
      <div class="guest-list-container">
        <div class="guest-list" *ngFor="let i of num">
          <app-guest-list></app-guest-list>
        </div>
      </div>
    </div>
  </div>
<app-add-guest-form *ngIf="showForm" (close)="closeForm()"></app-add-guest-form>  